Digamos:
```
.container {
 display: grid;
 /* Crea la cantidad de columnas que puedas con un ancho maximo de 400px */
 grid-template-columns: minmax(auto-fill, 400px);
 /*Crea 3 filas del mismo tamaño*/
 grid-auto-rows: 1fr 1fr 1fr 
}
```

Esto se aplicará en los elementos HTML del elemento container
```
<div class="container">
	<section></section>
	<section></section>
	<section></section>
	<section></section>
</div>
```